html {
  background-image: linear-gradient(red, yellow, blue);
  height: 100vh;
}
.display {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 150px;
    
}
.display h1{
    color: #000;
}
.temp_calculator {
    width: 600px;
    margin: 50px auto;
    background-image: linear-gradient(to bottom right, red, yellow, blue);
    color: black;
    font-family: 'Bahnschrift Light';
}
form {
    padding: 15px;
    
}
p.title {
    background-image: linear-gradient(to bottom right, blue, white);
    color: white;
    text-align: center;
    padding: 15px;
    font-family: 'AR JULIAN';
    font-size: 30px;
}
.calculator_input {
    float: left;
}
label {
    font-size: 20px;
}
.label{
  margin-left: 200px;
}
.btn{
  margin-left: 90px;
  height: 30px;

}
.answer{
  margin-left: 250px;

}
.text{
  margin-left: 60px;
  height: 30px;
}
}
input {
    width: 100%;
    font-size: 20px;
    border: none;
    background: #fff;
    padding: 8px;
}
.result_area label {
    width: 18%;
    float: left;
}
.result_area input {
    width: 82%;
}
.calculator_value label {
    width: 36%;
    float: left;
}
.calculator_value input {
    width: 64%;
}
.calculator_value {
    margin-bottom: 30px;
}

.calculator_input {
    padding: 0px 23px;
    margin-bottom: 30px;
}

.result_area {
    margin-top: 30px;
    margin-bottom: 10px;
}
button#convert {
    float: right;
}
button.cal-btn {
    width: 45%;
    padding: 12px;
    border: none;
    background-image: linear-gradient(to right, blue, white);
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;

}
button.cal-btn:hover {
  background-color: white;
  color: blue;

}
select {
    padding: 5px;
}