{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	font-family: Arial, "forte";
	font-size: 17px;
	color: white;
	line-height: 1.6;

}
#heading{
	background-image: url('./img/welcome.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;

}
#heading h1{
	font-size: 120px;
	font-family: 'AR BERKLEY';
	color: #29133c;

}
#heading p{
	font-size: 50px;
	margin-top: 30px;
	font-family: 'AR BLANCA';
	color: darkslategrey;
}
#heading nav{
	margin-top: 61px;
}
#heading nav .button{
	font-family: 'AR CHRISTY';
	font-size: 25px;
	text-decoration: none;
	color: #29133c;
	border: #1c122e 1px solid;
	padding: 10px 20px;
	border-radius: 100%;
	text-align: left;

}
#heading nav .button1{
	font-family: 'AR CHRISTY';
	font-size: 25px;
	text-decoration: none;
	color: #29133c;
	border: #1c122e 1px solid;
	padding: 10px 20px;
	border-radius: 100%;
	text-align: center;

}
#heading nav .button2{
	font-family: 'AR CHRISTY';
	font-size: 25px;
	text-decoration: none;
	color: #29133c;
	border: #1c122e 1px solid;
	padding: 10px 20px;
	border-radius: 100%;
	text-align: right;

}
#heading nav .button3{
	font-family: 'AR CHRISTY';
	font-size: 25px;
	text-decoration: none;
	color: #29133c;
	border: #1c122e 1px solid;
	padding: 10px 20px;
	border-radius: 100%;
	text-align: right;

}
#part1{
	background-image: url('./img/review.jpg');
    height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 20px;
	margin-top: 50px;
}
#part1 h1{
	font-family: 'AR BLANCA';
	font-size: 100px;
	color: #600e0e;
}
#part1 p{
	font-family: 'AR CENA';
	font-size: 35px;
	color: #17ab17;
	margin-top: 20px;
}
#part1 p em{
	font-family: 'AR CHRISTY';
	font-size: 75px;
	color: #17ab17;
	margin-top: 20px;
}
#part2{
	background-image: url('./img/menu.jpg');
    height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
	margin-top: 50px;

}

#part2 h1{
	font-family: 'Mistral';
	font-size: 105px;
	color: #a31d48;
	text-align: center;
}
#part2 ul{
	font-family: 'Brush Script MT';
	font-size: 45px;
	color: #f73900;
	text-align: center;
	margin-top: 20px;

}
#part3{
	background-image: url('./img/img.jpg');
    height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
	margin-top: 50px;

}
#part3 h1{
	font-family: 'AR BERKLEY';
	color: #8EF9F3;
	text-align: center;
	font-size: 95px;
}
#part3 h3{
	font-family: 'AR BERKLEY';
	color: #2A2A72;
	text-align: center;
	font-size: 55px;
}
#part3 p{
	font-family: 'AR BERKLEY';
	color: #34344A;
	text-align: center;
	font-size: 35px;
}
#part4 h4{
	font-family: 'AR BERKLEY';
	color: #2A2A72;
	text-align: center;
	font-size: 55px;
}
#part4 p{
	font-family: 'AR BERKLEY';
	color: #34344A;
	text-align: center;
	font-size: 35px;
}